.event-card {
  aspect-ratio: 1 / 1;
  border: 0.5vmin solid #4af8ba;
  background: black;
  position: relative;
  /* width: 56vmin; */
  width: 33%;
  flex: 1;
  cursor: pointer;
}

/* For gradient overlay */
.event-card:before {
  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    #736afd 66%,
    #1db2fa 83.5%,
    #4af8ba 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  transition: background-position 0.7s ease, transform 0.7s ease;
  content: "";
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0px;
  left: 0px;
  position: absolute;
}

.event-card:hover:before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.03);
}

.event-card-content {
  background: radial-gradient(rgb(255, 255, 255, 0.2) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  transition: background-position 0.7s ease;
  position: relative;
  width: 100%;
  padding: 5vmin;
  z-index: 2;
}
.event-card:hover > .event-card-content {
  background-position: -10% 0%;
}

.event-card-title {
  font-size: 6vmin;
  font-weight: 400;
}
.event-card-subtitle {
  font-size: 3vmin;
  font-weight: 400;
  margin-top: 2vmin;
}
.event-card-subtitle-word {
  display: inline-block;
  opacity: 0;
  margin: 0vmin 0.3vmin;
  position: relative;
  transform: translateY(40%);
  transition: none;
}
.event-card:hover
  > .event-card-content
  > .event-card-subtitle
  > .event-card-subtitle-word {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0ms, transform 200ms cubic-bezier(0.9, 0.06, 0.15, 0.9);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.5s;
}

.visible {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
