.circle-link {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50%;
  transition: transform 0.3s ease-in-out;
}

.circle-link::before {
  content: "";
  display: block;
  padding-top: 100%;
  border-radius: 50%;
}

.circle-link > span {
  position: absolute;
  animation: rotation 5s infinite linear;
  animation-play-state: inherit;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.circle-link:hover {
  animation-play-state: paused;
  transform: scale(1.1);
}

.link-text {
  color: inherit;
  font-size: var(--font-300);
  text-decoration: none;
  text-wrap: nowrap;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-1: #736afd;
  --clr-2: #698eec;
  --clr-3: #5fb1dc;
  --clr-4: #54d5cb;
  --clr-5: #4af8ba;
}

.gradient-link-button {
  position: relative;
  color: white;
  padding: 10px;
  font-size: var(--font-100);
  font-family: inherit;
  text-decoration: none;
  border-radius: 4px;
  /* background-color: var(--clr-1); */
  transition: all 0.5s ease;
}
.gradient-link-button::before,
.gradient-link-button::after {
  z-index: -1;
  content: "";
  position: absolute;
  inset: -0.3rem;
  border-radius: inherit;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-1),
    var(--clr-3),
    var(--clr-5),
    var(--clr-3),
    var(--clr-1)
  );
  animation: gradient-rotation 10s linear infinite;
}
.gradient-link-button::after {
  filter: blur(3.5rem);
}

.gradient-link-button:hover {
  transform: scale(1.05);
}

@keyframes gradient-rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
