@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  /* Font Sizes */
  --font-xl: 20rem;
  --font-700: 7rem;
  --font-500: 5.75rem;
  --font-300: 3rem;
  --font-200: 2rem;
  --font-100: 1.5rem;
  --font-min: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: scroll; */
}

body {
  background-color: #1d3461;
  color: white;
}

/* Typography */
h1 {
  font-size: var(--font-700);
  font-weight: 400;
}
h2 {
  font-size: var(--font-500);
  font-weight: 400;
}
h3 {
  font-size: var(--font-300);
  font-weight: 400;
}
.p--large {
  font-size: var(--font-200);
  font-weight: 400;
}
p {
  font-size: var(--font-100);
  font-weight: 400;
}
.p--min {
  font-size: var(--font-min);
  font-weight: 400;
}

/* Default Element Overrides */
button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
}
button:hover {
  background-color: white;
  color: #1d3461;
  cursor: pointer;
}

.link {
  color: white;
  text-decoration: none;
  font-size: var(--font-min);
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
