:root {
  --background-start-rgb: 29, 52, 97;
  --background-end-rgb: 29, 178, 250;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: scroll;
}

body {
  background-color: #1d3461;
  color: white;
}

/* Typography Standards */
/* Note: 1em === 16px */
.title {
  font-weight: 600;
  font-size: 4.5em; /* 72px */
}
.subheading {
  font-weight: 500;
  font-size: 3em; /* 48px */
}
p {
  font-weight: 400;
  font-size: 1em; /* 16px */
}

/* Default Element Overrides */
button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
}
button:hover {
  background-color: white;
  color: #1d3461;
  cursor: pointer;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.link:hover {
  text-decoration: underline;
}
