.about-us-container {
  min-height: 100vh;
  max-height: max-content;
  overflow: hidden;
}
.about-us-content-container {
  display: flex;
  padding: var(--space-section) var(--space-section) var(--space-section)
    var(--space-section);
  gap: 12em;
}
.about-us-content-container__text {
  width: 50%;
}
.about-us-content-container__images {
  position: relative;
  z-index: -1;
}
#about-us__image-1 {
  bottom: 22px;
  left: -40px;
}
#about-us__image-2 {
  left: 191px;
  top: 167px;
}
#about-us__image-3 {
  left: -150px;
  top: -21px;
}

.about-us-slider {
  overflow: hidden;
  margin-bottom: 4em;
}

.about-us-slider__running-text {
  text-align: center;
}

.about-us__image {
  position: absolute;
}

@media (min-width: 901px) {
  .about-us-slider__running-text-mobile {
    display: none;
  }
}

@media (max-width: 900px) {
  .about-us-slider {
    display: flex;
    justify-content: center;
  }
  .about-us-slider__running-text {
    display: none;
  }
}

@media (max-width: 430px) {
  .about-us-container {
    margin-top: 8rem;
    height: fit-content;
  }
  .about-us-content-container {
    flex-direction: column;
    flex: 1;
  }
  .about-us-content-container__text {
    width: auto;
  }
  .about-us-content-container__images {
    position: relative;
    height: 75vh;
  }
  .about-us-slider {
    margin-bottom: 0;
  }
  #about-us__image-1 {
    bottom: 300px;
    left: -40px;
  }
  #about-us__image-2 {
    left: -10px;
    top: 167px;
  }
  #about-us__image-3 {
    left: -200px;
    top: -140px;
  }
}
