.event-cards-container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: var(--space-standard) var(--space-section) var(--space-section)
    var(--space-section);
  gap: var(--space-standard);
  justify-content: center;
}
.regular-event-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-standard);
}
.events-text {
  width: 50%;
  text-align: center;
  margin-bottom: 2em;
}

@media (max-width: 1280px) {
  .regular-event-cards-container {
    flex-direction: column;
  }
  .events-text {
    width: auto;
    padding: var(--space-section) var(--space-section) 0 var(--space-section);
    font-size: var(--font-100);
  }
}

@media (max-width: 768px) {
  .regular-event-cards-container {
    flex-direction: column;
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.5s;
}

.visible {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
