.exec-bubble {
  position: relative;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  position: relative;
  width: 400px;
  height: 400px;
  background-color: var(--clr-1);
}

.exec-bubbles-wrapper {
}

.exec-bubbles {
  height: 100vh;
  width: fit-content;
  display: flex;
  gap: var(--space-standard);
  z-index: 12;
}

@media (min-width: 768px) {
  .exec-bubble::before,
  .exec-bubble::after {
    z-index: -1;
    content: "";
    position: absolute;
    inset: -0.5rem;
    border-radius: inherit;
    background: linear-gradient(
      var(--gradient-angle),
      var(--clr-1),
      var(--clr-3),
      var(--clr-5)
    );
    animation: bubble-gradient-rotation 4s linear infinite;
  }
  .exec-bubble::after {
    filter: blur(3.5rem);
  }
  .exec-bubble:hover {
    transform: scale(1.05);
  }
}

@keyframes bubble-gradient-rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

@media (max-width: 430px) {
  .exec-bubble {
    width: 300px;
    height: 300px;
  }
}

@keyframes scroll {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes bubble-rise {
  0% {
    transform: translate3d(0, 900px, 0);
  }
  100% {
    transform: translate3d(0, -500px, 0);
  }
}
