.subclubs-slider {
  margin-bottom: 4em;
  position: relative;
  z-index: 2;
}
.subclubs-slider__moving-content {
  transform-style: preserve-3d;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.subclubs-slider__running-text {
  font-size: var(--font-700);
  white-space: nowrap;
  background-color: #af984e;
  animation: scroll 15s linear infinite;
  margin-right: -1px;
}

@keyframes scroll {
  to {
    transform: translate(-100%);
  }
}

.subclub-card {
  position: relative;
  height: inherit;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
}
.subclub-card__text-container {
  z-index: 1;
  background-color: #000000a6;
  padding: 1em;
  width: 70%;
}

.execs-transition-text {
  font-size: var(--font-xl);
  font-weight: 600;
}

@media (max-width: 430px) {
  .subclub-card__text-container {
    width: auto;
  }
}
